@charset "utf-8";
/* Estilo Fuente Intro */

@font-face {
    font-family: Intro Book;
    src: url(font/IntroBook.otf);
	src: url('font/introbook.eot?#iefix') format('eot'), 
	url('font/introbook.ttf') format('truetype');
}
	
@font-face {
    font-family: Intro Bold;
    src: url(font/IntroBold.otf);
	src: url('font/introbold.eot?#iefix') format('eot'), 
	url('font/introbold.ttf') format('truetype');
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
	
	Azul Cielo		Verde			Naranja			Rosa			Azul Marino

	Cyan Gto 		Verde Gto		Naranja Gto		Magenta Gto		Azul Gto

	R:0				R:141 			R:243 			R:238 			R:0
	G:167			G:198 			G:115 			G:61 			G:74
	B:225			B:63 			B:33 			B:150 			B:129

	#00A7E1 		#8DC63F 		#F37321 		#EE3D96 		#004A81

   ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

a{
	text-decoration: none !important;
}

body{
	margin-top: 10px;
}

div{
	-webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
			border-radius: 0 !important;
}

.bkg-azulcielo{				background-color: #00A7E1;	}
.color-azulcielo{			color: #00A7E1;				}
.hover-azulcielo:hover{		background-color: #00A7E1;	}

.bkg-verde{					background-color: #8DC63F;	}
.color-verde{				color: #8DC63F;				}
.hover-verde:hover{			background-color: #8DC63F;	}

.bkg-naranja{				background-color: #F37321;	}
.color-naranja{				color: #F37321;				}
.hover-naranja:hover{		background-color: #F37321;	}

.bkg-rosa{					background-color: #EE3D96;	}
.color-rosa{				color: #EE3D96;				}
.hover-rosa:hover{			background-color: #EE3D96;	}

.bkg-azulmarino{			background-color: #004A81;	}
.color-azulmarino{			color: #004A81;				}
.hover-azulmarino:hover{	background-color: #004A81;	}

.brand{
	font-size: 16px !important;

}

.div-footer{
	padding: 0;
	background-color: #E6E6E6;
}

.div-footer-data{
	padding: 35px 0;
}

.div-footer-link{
	background-color: #ABABAB;
}

.facebook{
    background: url("../img/facebook.png") 0 0  no-repeat;
}

.facebook:hover{
	color: #07A7E1;
}

.font-bold{
	font-weight: bold;
}

.font-italic{
	font-style: italic;
}

.font-white{
	color: #FFFFFF !important;
}

.footer-address{
	min-height:100px;
    background:url("../img/directory.png") no-repeat;
	color:#676767;
	padding-left:55px;
	line-height:24px;
}
	
.footer-phone{
    min-height:45px;
    background: url("../img/phone.png") 0 0  no-repeat;
	color:#676767;
	padding-left:55px;
	line-height:45px;
}

.footer-text{
	color: #676767;
	height: 25px;
	padding-left: 35px;
	margin-bottom: 12px;
}

.footer-title{
	color:#676767;
	font-family:'Intro Bold', arial, serif;
	font-size: 16px;
}

.hrHeader{
	border: 1px solid #C4C4C4;
	margin: 10px 0
}

.liEstTra{
	width: 150px;
	text-align: center;
}

.padding-left{
	padding-left: 10px;
}

.padding-top{
	padding-top: 5px;
}

.pointer{
	cursor: pointer;
}

.separator{
	height: 10px;
}

.table thead th{
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;
	background-color: #004A81;
}

.table tbody td{
	text-align: center;
	vertical-align: middle;
	font-size: 13px;
}

.twitter{
    background: url("../img/twitter.png") 0 0  no-repeat;
}

.twitter:hover{
	color: #07A7E1;
}

.ul-menu{
	list-style: none;
}

.width-100{
	width: 100%;
}

.ascensorBuilding{
	overflow: hidden !important;
}

.ascensorLink{
	color: #FFFFFF;
	padding-left: 0;
}

.ascensorLink:hover{
	color: #FFFFFF;
	padding-left: 10px;
}

#ascensorFloor0{	background: url("../img/mia/01_MIA.png") no-repeat;						}
#ascensorFloor1{	background: url("../img/mia/02_Planeacion.png") no-repeat;				}
#ascensorFloor2{	background: url("../img/mia/03_PlaneacionDetalle.png") no-repeat;		}
#ascensorFloor3{	background: url("../img/mia/04_DefinicionMetas.png") no-repeat;			}
#ascensorFloor4{	background: url("../img/mia/05_DefinicionMetasDetalle.png") no-repeat;	}
#ascensorFloor5{	background: url("../img/mia/06_Programacion.png") no-repeat;			}
#ascensorFloor6{	background: url("../img/mia/07_ProgramacionDetalle.png") no-repeat;		}
#ascensorFloor7{	background: url("../img/mia/08_Presupuestacion.png") no-repeat;			}
#ascensorFloor8{	background: url("../img/mia/09_CritPres.png") no-repeat;				}
#ascensorFloor9{	background: url("../img/mia/10_CritPres_ProcOrdSust.png") no-repeat;	}
#ascensorFloor10{	background: url("../img/mia/11_CritPres_ProcGest.png") no-repeat;		}
#ascensorFloor11{	background: url("../img/mia/12_CritPres_ProyInv.png") no-repeat;		}
#ascensorFloor12{	background: url("../img/mia/13_CritPres_ProyFortInst.png") no-repeat;	}
#ascensorFloor13{	background: url("../img/mia/14_Aprobacion.png") no-repeat;				}
#ascensorFloor14{	background: url("../img/mia/15_TuDinero.png") no-repeat;				}
#ascensorFloor15{	background: url("../img/mia/16_PresupuestoEgreso.png") no-repeat;		}
#ascensorFloor16{	background: url("../img/mia/17_Cuanto.png") no-repeat;					}
#ascensorFloor17{	background: url("../img/mia/18_ParaQue.png") no-repeat;					}
#ascensorFloor18{	background: url("../img/mia/19_EnQue.png") no-repeat;					}
#ascensorFloor19{	background: url("../img/mia/20_Ciudadanos.png") no-repeat;				}